.general-product-info {
    display: block;
    //
    width: 100%;
    height: auto;
    //
    > div {
        --demo-width: 450px;
        //
        display: flex;
        justify-content: center;
        align-items: center;
        //
        float: left;
        height: auto;
        min-height: 100px;
        padding: 20px;
        //
        // Demo
        &:nth-child(1) {
            width: var(--demo-width);
            //box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2),
            //    inset -2px -2px 2px rgba(255, 255, 255, 0.2);
        }
        &:nth-child(2) {
            width: calc(100% - var(--demo-width) - 20px);
        }
    }
}
