.basic-product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //
    width: 100%;
    max-width: 600px;
    height: auto;
    //
    padding: 30px;
    //
    border-radius: 20px;
    //
    background-color: var(--highlight-background-color);
    //
    box-shadow: 8px 8px 10px black;
    > .lapis-ui {
        --lapis-width: 100%;
        --lapis-highlight-color: var(--lapis-color-3);
        --lapis-selection-background-color: var(--background-color);
        --lapis-text-color: var(--text-color);
        --lapis-message-width: 200px;
        margin-bottom: 15px;
        //
        &.discount,
        &.current-price,
        &.discount-start-at,
        &.discount-end-at{
            width: 48%;
        }
    }
}
