@import './global-scss-variables.scss';
//
.container {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    //
    height: auto;
    //
    margin-left: auto;
    margin-right: auto;
    //
}

//
// Mobile
@media only screen and (max-width:$mobile-max) {
    .container {
        width: calc(100% - 15px);
    }
}

//
// Tablet
@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    .container {
        width: calc(100% - 100px);
    }
}

//
// Small Desktop
@media only screen and (min-width: $small-desktop-min) and (max-width: $small-desktop-max) {
    .container {
        width: $small-desktop-container;
    }
}

//
// Large Desktop
@media only screen and (min-width: $large-desktop-min) {
    .container {
        width: $large-desktop-container;
    }
}