body {
    --font-family: 'Itim', cursive;
    --text-color: rgb(164,182,228);
    --text-color: rgb(255,255,255);
    --background-color: rgb(24, 26, 30);
    --highlight-background-color: rgb(33,37,43);
    --lapis-color-1: rgb(116,126,228);
    --lapis-color-2: rgb(255, 121, 127);
    --lapis-color-3: rgb(65, 241, 189);
    --header-height: 70px;
}
