.products .product {
    display: block;
    //
    width: 100%;
    height: 60px;
    //
    padding: 10px;
    //
    border-radius: 5px;
    //
    >.img {
        display: block;
        overflow: hidden;
        float: left;
        //
        height: 100%;
        aspect-ratio: 1;
        //
        border-radius: 5px;
        //
        background-position: center;
        background-size: cover;
    }
    >.title {
        display: block;
        float: left;
        //
        height: 100%;
        margin-left: 10px;
        >div {
            display: block;
            width: 300px;
            //
            // Title
            &:nth-child(1) {
                height: 60%;
                //
                color: whitesmoke;
                font-size: 18px;
            }
            //
            // ID
            &:nth-child(2) {
                height: 40%;
                font-size: 12px;
                color: gray;
            }
        }
    }
    >.tool {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        float: right;
        opacity: 0;
        //
        height: 100%;
        width: auto;
        //
        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            //
            height: 100%;
            aspect-ratio: 1;
            //
            font-family: "Material Icons Outlined";
            color: whitesmoke;
            text-decoration: unset;
            //
            border-radius: 50%;
            //
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: white;
            }
        }
    }
    // 
    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        >.tool {
            opacity: 1;
        }
    }
}